

.drag-over {
    border: dashed 3px red;
}

.skill{
    background-color: yellow;
    height:50px;
    width:100px;
    margin:5px;
}

.box{
   
}

.destination{
height: 50vh;
    width: 50vw;
    border: solid 3px #ccc;
    margin: 10px;
}

.drop-targets{
    display:flex;
    flex-direction: row;
    margin: 20px 0;
}

.skills{
    display:flex;
    flex-direction: row;
}